@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;

    --card: 220 15% 10% / 0.5;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 182 100% 50%;
    --primary-foreground: 182 100% 10%;

    --secondary: 188 100% 40%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 188 100% 60%;
    --accent-foreground: 188 100% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 182 95% 30%;
    --input: 217 33% 17%;
    --ring: 182 100% 50%;
    
    --chart-1: 182 100% 50%;
    --chart-2: 188 100% 60%;
    --chart-3: 200 100% 50%;
    --chart-4: 210 100% 50%;
    --chart-5: 220 100% 50%;

    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;

    --card: 220 15% 10% / 0.5;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 182 100% 50%;
    --primary-foreground: 182 100% 10%;

    --secondary: 188 100% 40%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 188 100% 60%;
    --accent-foreground: 188 100% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 182 95% 30%;
    --input: 217 33% 17%;
    --ring: 182 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image:
      linear-gradient(hsl(var(--primary) / 0.07) 1px, transparent 1px),
      linear-gradient(to right, hsl(var(--primary) / 0.07) 1px, transparent 1px);
    background-size: 2rem 2rem;
  }
}
